  <div class="panel-block">
    <p class="control has-icons-left">
      <form method="POST" action="/todo">
        <input class="input" type="text" placeholder="Add Todo" name="name" id="txt_todo">
        <Icon small left>
            <i className="fa fa-plus"/>
        </Icon>
      </p>
      <button type="submit" class="button is-link" value="ADD" id="btn_todo">ADD</button>
    </form>
  </div>