  <p class="panel-heading">
    TEC BOOTCAMP TODO v2
  </p>

  <p class="panel-tabs">
    <a href="/" class="{{#if url.home}}is-active{{/if}}">All</a>
    <a href="/completed" class="{{#if url.completed}}is-active{{/if}}">Completed</a>
    <a href="/uncompleted" class="{{#if url.uncompleted}}is-active{{/if}}">Uncompleted</a>
    <a href="/about" class="{{#if url.about}}is-active{{/if}}">About</a>
  </p>


